[Unit]
Description=Cosmos
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/thecosmos/cosmos-discord-bot
ExecStart=python3.8 /home/thecosmos/cosmos-discord-bot/run.py
User=root

[Install]
WantedBy=multi-user.target