[Unit]
Description=Cosmos Dev
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/tc-discord-bot-dev
ExecStart=/usr/bin/python3.6 /root/tc-discord-bot/run.py
User=root

[Install]
WantedBy=multi-user.target
