[Unit]
Description=Cosmos
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/tc-discord-bot
ExecStart=python3.6 /root/tc-discord-bot/run.py
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
