raven
pymongo
humanize
pymongo[gssapi,srv,tls]
youtube_dl
PyNacl
opuslib
prettytable==0.7.2
requests==2.18.1
beautifulsoup4==4.6.0
strawpy==1.1
lxml==3.8.0
PythonGists==1.1.3
GitPython==2.1.3
Pillow==4.2.1
pyfiglet==0.7.5
tokage==1.0.0
pytz==2017.2
PyGithub==1.34
giphy_client
motor
lyricsgenius
yarl<1.2
