[Unit]
Description=Cosmos Dev
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/dev/cosmos-discord-bot
ExecStart=/usr/bin/python3.6 /root/dev/cosmos-discord-bot/run.py
User=root

[Install]
WantedBy=multi-user.target
